<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.jspboard2.mapper.BoardMapper">
    <select id="getBoardList" resultType="com.example.jspboard2.domain.Board">
        SELECT * FROM BOARD_TB;
    </select>
    <select id="getSearchResult" resultType="com.example.jspboard2.domain.Board">
        SELECT
        *
        FROM BOARD_TB
        <choose>
            <when test=' == "JAVA"'>
                WHERE TYPE_BOARD = 'JAVA'
            </when>
            <when test="#{searchType} == 'JavaScript'">
                WHERE TYPE_BOARD = 'JavaScript'
            </when>
            <when test="#{searchType} == 'Database'">
                WHERE TYPE_BOARD = 'Database'
            </when>
            <otherwise>
                WHERE TYPE_BOARD = 'JAVA' OR TYPE_BOARD = 'JavaScript' OR TYPE_BOARD = 'Database'
            </otherwise>
        </choose>
        AND REGDATE_BOARD BETWEEN CONVERT(DATE, #{startDate}) AND CONVERT(DATE, #{endDate})
        <if test="#{searchName} != NULL">
            AND USER_BOARD.search(#{searchName}) OR TITLE_BOARD.search(#{searchName}) OR CONTENT_BOARD.search(#{searchName})
        </if>
    </select>
</mapper>