<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.jspboard2.mapper.BoardMapper">
    <select id="getAllCount" resultType="int">
        SELECT COUNT(*) as count FROM BOARD_TB;
    </select>
    <select id="getNewBoardId" resultType="int">
        SELECT ID_BOARD
        FROM BOARD_TB
        ORDER BY ID_BOARD DESC LIMIT 1;
    </select>
    <select id="getBoardList" resultType="com.example.jspboard2.domain.Board" parameterType="int">
        SELECT *
        FROM(
            SELECT *
            FROM (
                 SELECT @rownum := @rownum + 1 as row_num, board_tb.*
                 FROM board_tb , (SELECT @rownum := 0) r
                 ) a
            WHERE row_num >= 1
            ) b
        WHERE row_num <![CDATA[<=]]> 10;
    </select>
    <select id="getSearchResult" resultType="com.example.jspboard2.domain.Board">
        SELECT
        *
        FROM BOARD_TB

        <choose>
            <when test=' == "JAVA"'>
                WHERE TYPE_BOARD = 'JAVA'
            </when>
            <when test="#{searchType} == 'JavaScript'">
                WHERE TYPE_BOARD = 'JavaScript'
            </when>
            <when test="#{searchType} == 'Database'">
                WHERE TYPE_BOARD = 'Database'
            </when>
            <otherwise>
                WHERE TYPE_BOARD = 'JAVA' OR TYPE_BOARD = 'JavaScript' OR TYPE_BOARD = 'Database'
            </otherwise>
        </choose>
        AND REGDATE_BOARD BETWEEN CONVERT(DATE, #{startDate}) AND CONVERT(DATE, #{endDate})
        <if test="#{searchName} != NULL">
            AND USER_BOARD.search(#{searchName}) OR TITLE_BOARD.search(#{searchName}) OR CONTENT_BOARD.search(#{searchName})
        </if>
    </select>
    <select id="postingUpload" resultType="com.example.jspboard2.domain.Board">
        INSERT INTO BOARD_TB (TYPE_BOARD,TITLE_BOARD,CONTENT_BOARD,USER_BOARD,VIEWS_BOARD,REGDATE_BOARD,MODDATE_BOARD)
            VALUES (${typeBoard},${titleBoard},${contentBoard},"TEST",0,DEFAULT,NULL)
    </select>
    <select id="getDetailBoard" resultType="com.example.jspboard2.domain.Board" parameterType="int">
        SELECT *
        FROM BOARD_TB
        <where>
            ID_BOARD = ${id_board}
        </where>
    </select>
    <select id="postModifyBoard" resultType="com.example.jspboard2.domain.Board">
        UPDATE BOARD_TB SET TYPE_BOARD = ${typeBoard} , TITLE_BOARD = ${titleBoard} , CONTENT_BOARD = ${contentBoard}
        <where>
            ID_BOARD = ${id_board}
        </where>
    </select>
</mapper>