<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.jspboard2.mapper.MemberMapper">
    <select id="getMembership" resultType="com.example.jspboard2.domain.Member">
        INSERT INTO
            member_tb (USER_MEMBER,
                       PASSWORD_MEMBER,
                       NAME_MEMBER,
                       EMAIL_MEMBER,
                       EMAILCHECK_MEMBER,
                       GENDER_MEMBER,
                       REGDATE_MEMBER,
                       RATING_MEMBER)
        VALUES        (#{userMember},
                       #{userPw},
                       #{userName},
                       #{userEmailComplet},
                       #{emailChk},
                       #{userGender},
                       curdate(),
                       2)
    </select>

    <select id="checkLogin" resultType="com.example.jspboard2.domain.Member">
        SELECT *
        FROM member_tb
        <where>
            USER_MEMBER = #{loginId} and PASSWORD_MEMBER = #{loginPw}
        </where>
    </select>
    <select id="modifyMemberDetail" resultType="com.example.jspboard2.domain.Member" parameterType="map">
        UPDATE member_tb
        SET EMAIL_MEMBER = #{emailMember}, NAME_MEMBER = #{nameMember}
        <where>
            ID_MEMBER = #{idMember}
        </where>
    </select>
    <select id="deleteMember" resultType="String">
        DELETE FROM MEMBER_TB
        <where>
            ID_MEMBER = #{idMember}
        </where>
    </select>
    <select id="getMember" resultType="com.example.jspboard2.domain.Member">
        SELECT *
        FROM member_tb
        <where>
            ID_MEMBER = #{idMember}
        </where>
    </select>
    <select id="getPrevMember" resultType="com.example.jspboard2.domain.Member" parameterType="int">
        SELECT MIN(ID_MEMBER)as fucku, USER_MEMBER as what_user
        FROM member_tb
        <where>
            ID_MEMBER > ${id_member};
        </where>
    </select>
    <select id="getNextMember" resultType="com.example.jspboard2.domain.Member" parameterType="int">
        SELECT id_member as fucku, USER_MEMBER as what_user
        FROM member_tb
        <where>
            id_member = (
            SELECT MAX(id_member)
            FROM member_tb
            <where>
                id_member <![CDATA[<]]> #{id_member}
            </where>
            );
        </where>
    </select>
    <select id="getManagerMember" resultType="com.example.jspboard2.domain.Member" parameterType="int">
        SELECT *
        FROM MEMBER_TB
        ORDER BY ID_MEMBER DESC
        LIMIT 10;
    </select>
    <select id="getManagerPageMember" resultType="com.example.jspboard2.domain.Member" parameterType="int">
        SELECT *
        FROM MEMBER_TB
        ORDER BY ID_MEMBER DESC
        LIMIT 10 OFFSET ${pagelist};
    </select>
    <select id="getAllManager" resultType="java.lang.Integer">
        SELECT COUNT(*) as count FROM member_tb;
    </select>
    <select id="getAllSearchManager" resultType="java.lang.Integer">
        SELECT COUNT(*) as count
        FROM member_tb
        where 1 = 1
        <if test="startDate != '' and endDate != ''">
            AND regdate_member BETWEEN DATE_FORMAT(#{startDate},'%Y-%m-%d') AND DATE_FORMAT(#{endDate},'%Y-%m-%d')
        </if>
        <if test="searchName != ''">
            AND (user_member LIKE CONCAT('%',#{searchName},'%') OR name_member LIKE CONCAT('%',#{searchName},'%') OR email_member LIKE CONCAT('%',#{searchName},'%'))
        </if>
        ORDER BY ID_MEMBER DESC LIMIT 10;
    </select>
    <select id="getSearchMember" resultType="com.example.jspboard2.domain.Member" parameterType="hashmap">
        SELECT *
        FROM member_tb
        where 1 = 1
        <if test="startDate != '' and endDate != ''">
            AND regdate_member BETWEEN DATE_FORMAT(#{startDate},'%Y-%m-%d') AND DATE_FORMAT(#{endDate},'%Y-%m-%d')
        </if>
        <if test="searchName != ''">
            AND (user_member LIKE CONCAT('%',#{searchName},'%') OR name_member LIKE CONCAT('%',#{searchName},'%') OR email_member LIKE CONCAT('%',#{searchName},'%'))
        </if>
        ORDER BY ID_MEMBER DESC LIMIT 10;
    </select>
    <select id="getSearchPageMember" resultType="com.example.jspboard2.domain.Member" parameterType="hashmap">
        SELECT *
        FROM member_tb
        where 1 = 1
        <if test="startDate != '' and endDate != ''">
            AND regdate_member BETWEEN DATE_FORMAT(#{startDate},'%Y-%m-%d') AND DATE_FORMAT(#{endDate},'%Y-%m-%d')
        </if>
        <if test="searchName != ''">
            AND (user_member LIKE CONCAT('%',#{searchName},'%') OR name_member LIKE CONCAT('%',#{searchName},'%') OR email_member LIKE CONCAT('%',#{searchName},'%'))
        </if>
        ORDER BY ID_MEMBER DESC LIMIT 10 OFFSET ${pagelist};
    </select>
</mapper>