<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.jspboard2.mapper.MemberMapper">
    <insert id="getMembership" parameterType="com.example.jspboard2.domain.Member" >
        INSERT INTO
            MEMBER_TB (USER_MEMBER,PASSWORD_MEMBER,NAME_MEMBER, EMAIL_MEMBER, EMAILCHECK_MEMBER, GENDER_MEMBER, REGDATE_MEMBER,RATING_MEMBER)
        VALUES (#{userMember},#{userPw},#{userName},#{userEmailComplet},#{emailChk},#{userGender},curdate(),2)
    </insert>

    <select id="insideLogin">

    </select>
    <select id="deleteMember">

    </select>
    <select id="getMember" resultType="com.example.jspboard2.domain.Member">
        SELECT *
        FROM member_tb
        <where>
            ID_MEMBER = ${idMember}
        </where>
    </select>
</mapper>